
.bcontainer {
    margin-top: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sbutton {
    width: 10%;
    height: 15px;
    border: none;
    border-radius: 25px;
    background-color: #eae745;
    color: rgb(224, 91, 25);
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.butonsub {
    width : 80%;
    display: flex;
    justify-content: space-between;
}

.ba {
    font-size: xx-small;
    align-self: flex-start;
    justify-self: left;
}
.bb {
    font-size: small;
    align-self: flex-end;
    justify-self: left;
}
.bc {
    font-size: xx-small;
    align-self: flex-start;
    justify-self: left;
}
